@model DA.Horario

@if (Web.Models.Autorizacion.TienePermiso(BL.RolesMenu.menu_horario_todo))
{
    <div class="row">
        <div class="col s12">
            <div id="validations" class="card card-tabs">
                <div class="card-content">
                    <div class="card-title">
                        <div class="row">
                            <div class="col s8 m6 l10">
                                <h4 class="card-title">
                                    <a href="@Url.Action("Index","Horario")"><i class="material-icons left">keyboard_backspace</i></a>
                                    @if (Model.Id == 0)
                                    {
                                        <text>Nuevo Horario</text>
                                    }
                                    else
                                    {
                                        <text>Editar Horario</text>
                                    }
                                </h4>
                            </div>
                        </div>
                    </div>
                    <form class="validar" id="formValidate" method="post" action="@Url.Action("Guardar","Horario")">
                        <div class="row">
                            <input name="Id" type="hidden" value="@Model.Id">
                            <div class="input-field col s12 m4">
                                <label for="cperiodo"></label>
                                @Html.DropDownListFor(x => x.PeriodoId, (IEnumerable<SelectListItem>)ViewBag.PeriodoId)
                            </div>
                            <div class="input-field col s12 m4">
                                <label for="ccurso"></label>
                                @Html.DropDownListFor(x => x.CursoId, (IEnumerable<SelectListItem>)ViewBag.CursoId)
                            </div>
                            <div class="input-field col s12 m4">
                                <label for="caula"></label>
                                @Html.DropDownListFor(x => x.AulaId, (IEnumerable<SelectListItem>)ViewBag.AulaId)
                            </div>
                            <div class="input-field col s12 m4">
                                <label for="chora">Hora*</label>
                                <input id="chora" name="Hora" type="text" required value="@Model.Hora" autofocus>
                            </div>

                            <div class="input-field col s12 m4">
                                <label for="ccantidad">Cantidad de Horas*</label>
                                <input id="ccantidad" name="CantidadHora" type="text" required value="@Model.CantidadHora">
                            </div>
                            <div class="input-field col s12 m3">
                                <label for="cdia">Dia*</label>
                                <input id="cdia" name="Dia" type="text" required value="@Model.Dia">
                            </div>


                            <div class="input-field col s12">
                                <button data-ajax="true" class="btn right blue" type="submit">
                                    Guardar
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
}

@section   scripts{
    <script>

    </script>
}

