@model DA.Periodo

@if (Web.Models.Autorizacion.TienePermiso(BL.RolesMenu.menu_periodo_todo))
{

    <style>
        .contenedor_mensaje {
            background-color: #F94040;
            color: white;
            height: 50px;
        }
    </style>
    <div class="row">
        <div class="col s12">
            <div id="validations" class="card card-tabs">
                <div class="card-content">
                    <div class="card-title">
                        <div class="row">
                            <div class="col s8 m6 l10">
                                <h4 class="card-title">
                                    <a href="@Url.Action("Index","Periodo")"><i class="material-icons left">keyboard_backspace</i></a>
                                    @if (Model.Id == 0)
                                    {
                                        <text>Nuevo Periodo Académico</text>
                                    }
                                    else
                                    {
                                        <text>Editar Periodo Académico</text>
                                    }
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="row">
                            <div class="col s12 m12">
                                <div class="card-content contenedor_mensaje" id="div_mensaje_periodo" style="margin-bottom:30px;" hidden>
                                    <p id="txt_mensaje_periodo" style="text-align:center; margin-top:-10px;"></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <input id="id_periodo" name="Id" type="number" value="@Model.Id" hidden>
                            <div class="input-field col s12 m2">
                                <label for="denominacion">Denominacion*</label>
                                <input id="denominacion" name="Denominacion" type="text" required value="@Model.Denominacion" autofocus>
                            </div>

                            @if (Model.Id == 0)
                            {
                                <div class="input-field col s12 m3">
                                    <label for="inicio">Fecha Inicio*</label>
                                    <input id="inicio" name="Inicio" type="date" required value="" placeholder="mm/dd/yyyy">
                                </div>
                                <div class="input-field col s12 m3">
                                    <label for="fin">Fecha Fin*</label>
                                    <input id="fin" name="Fin" type="date" required value="" placeholder="mm/dd/yyyy">
                                </div>
                            }
                            else
                            {
                                <div class="input-field col s12 m3">
                                    <label for="inicio">Fecha Inicio*</label>
                                    <input id="inicio" name="Inicio" type="date" required value="@Model.FechaInicio.ToString("yyyy-MM-dd")">
                                </div>
                                <div class="input-field col s12 m3">
                                    <label for="fin">Fecha Fin*</label>
                                    <input id="fin" name="Fin" type="date" required value="@Model.FechaFin.ToString("yyyy-MM-dd")">
                                </div>
                            }

                            <div class="col s12 m4">
                                <label for="tnc_select">Estado </label>
                                <p>
                                    <label>
                                        <input type="checkbox" id="estado" name="activo" @if (Model.Estado) { <text> checked </text> } />
                                        <span>Activo</span>
                                    </label>
                                </p>
                            </div>

                            <div class="input-field col s12">
                                <button data-ajax="true" class="btn right blue" type="submit" id="guardar">
                                    Guardar
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}


@section   scripts{


}

<script src="https://code.jquery.com/jquery-3.4.1.js" type="text/javascript"></script>
<script>

    $(document).ready(function () {
        $("#guardar").click(guardarPeriodoFunc)
    })

    var valTimeout;
    var isPeriodLoading = false;

    var guardarPeriodoFunc = function () {

        if (!isPeriodLoading) {
            isPeriodLoading = true
            var estado;
            if ($("#estado").prop("checked")) {
                estado = true;
            }
            else {
                estado = false;
            }

            var envio = {
                idPeriodo: $("#id_periodo").val(),
                Denominacion: $("#denominacion").val(),
                FechaInicio: $("#inicio").val(),
                FechaFin: $("#fin").val(),
                Estado: estado
            }
            console.log(envio)


            $("#guardar").prop("disabled", true);

            $.ajax({
                url: '@Url.Action("Guardar","Periodo")',
                data: JSON.stringify(envio),
                type: 'POST',
                async: false,//this makes the ajax-call blocking
                contentType: 'application/json;charset=UTF-8',
                dataType: 'json',
                success: function (rm) {

                    if (rm.response == false) {
                        $("#div_mensaje_periodo").show();
                        $("#div_mensaje_periodo").css("background-color", "#F94040");
                        $("#txt_mensaje_periodo").text(rm.message);

                        if (valTimeout) {
                            clearTimeout(valTimeout);
                        }

                        valTimeout = setTimeout(() => {
                            $("#div_mensaje_periodo").fadeOut();
                        }, 2500);
                    }
                    else {
                        window.location.href = rm.href;
                    }
                },
                complete: function () {
                    $("#guardar").prop("disabled", false);
                    isPeriodLoading = false;
                }

            });
        }
        else {
            console.log("The operation was already completed");
        }

    }

</script>
