
@{
    Layout = null;
    string empresa = Web.Controllers.ComunController.ObtenerEmpresa();
}
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>@empresa</title>
    <link rel="apple-touch-icon" href="~/app-assets/images/favicon/apple-touch-icon-152x152.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/app-assets/images/favicon/favicon-32x32.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/vendors.min.css">
    <link href="~/Scripts/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/themes/vertical-modern-menu-template/materialize.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/themes/vertical-modern-menu-template/style.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/pages/login.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/custom/custom.css">
    <script src="https://www.google.com/recaptcha/api.js?render=6LcSa_gUAAAAAOGCDZaXyVnULY-__BLNfS5woymD"></script>
</head>
<body class="vertical-layout vertical-menu-collapsible page-header-dark vertical-modern-menu 1-column login-bg  blank-page blank-page" data-open="click" data-menu="vertical-modern-menu" data-col="1-column" onload="window.history.forward ();">
    <div class="row">
        <div class="col s12">
            <div class="container">
                <div id="login-page" class="row">
                    <div class="col s12 m6 card l4 z-depth-4 card-panel border-radius-6 login-card" style="height:60%;">
                        <form id="form1" class="login-form" method="post" action='@Url.Action("Autenticar", "Login")'>
                            @Html.ValidationMessage("Captcha")
                            <div class="row" style="margin-bottom:10px; margin-top:10px;">
                                <div class="input-field col s12" style="text-align:center;">
                                    <!--<h5 class="ml-4">@empresa</h5>-->
                                    <img style="width:200px; height:auto;" src="https://scontent.fymy1-1.fna.fbcdn.net/v/t1.18169-9/s720x720/10394495_1470024689937545_961379607862069060_n.png?_nc_cat=102&ccb=1-3&_nc_sid=dd9801&_nc_ohc=-7spQ3yKUbsAX90VJ8T&_nc_ht=scontent.fymy1-1.fna&_nc_tp=30&oh=dc592ed1f05ac17c5d2796ecde4bce0e&oe=6092C43C" />
                                </div>
                            </div>
                            <div class="row margin">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix pt-2">person_outline</i>
                                    <input id="username" type="text" name="Usuario" autofocus>
                                    <label for="username" class="center-align">Correo Electrónico</label>
                                </div>
                            </div>
                            <div class="row margin">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix pt-2">lock_outline</i>
                                    <input id="password" type="password" name="Clave">
                                    <label for="password">Password</label>
                                </div>
                            </div>
                            <div class="row" style="margin-top:6%; text-align:center;">
                                <div class="input-field col s12">
                                    <button type="submit" data-ajax="true" class="btn waves-effect waves-light border-round gradient-45deg-purple-deep-orange">Iniciar Sesión</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/app-assets/js/vendors.min.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.form.min.js"></script>
    <script src="~/Scripts/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/app-assets/js/plugins.js" type="text/javascript"></script>
    <script src="~/Scripts/ini.js"></script>
    <script>
        async function nuevaclave(id, user) {
            Swal.fire({
                title: 'Cambio de Clave ' + user,
                input: 'text',
                inputAttributes: {
                    autocapitalize: 'off'
                },
                //showCancelButton: true,
                confirmButtonText: 'Cambiaré mi clave',
                showLoaderOnConfirm: true,
                preConfirm: (cambio) => {
                    return $.post('@Url.Action("CambiarClave", "Login")',
                        { id: id, usuario: user, clave: cambio })
                        .done(function (data) {
                            if (data.response)
                                return data;
                            else {
                                Swal.showValidationMessage(
                                    `Error: ${data.message}`
                                );
                            }
                        });
                },
                allowOutsideClick: () => !Swal.isLoading()
            }).then((result) => {
                if (result.value) {
                    window.location.href = "/";
                }
            });            
        }

        grecaptcha.ready(function() {
            grecaptcha.execute('6LcSa_gUAAAAAOGCDZaXyVnULY-__BLNfS5woymD', { action: 'Login' }).then(function (token) {
            });
        });

    </script>
</body>
</html>