@model  Web.Models.Paginador<DA.Personal>
<div class="row">
    <div class="col s12 m12 l12">
        <div id="bordered-table" class="card card card-default scrollspy">
            <div class="card-content">
                <div class="card-title">
                    <div class="row">
                        <div class="col s8 m6 l10">
                            <h4 class="card-title">GESTIONAR PERSONAL</h4>
                        </div>
                        <div class="col s4 m6 l2">
                            <a class="btn-small blue right" href="@Url.Action("Mantener","Personal", new { id=0})"><i class="material-icons left">add</i>Nuevo</a>
                        </div>
                    </div>
                </div>
                @using (Html.BeginForm(null, null, FormMethod.Get))
                {
                    <div>
                        <input type="text" name="dni" id="dni" />
                        <input type="submit" value="Buscar" class="btn btn-success blue left" />
                    </div>
                    <button @Url.Action("ListarTodo", "Personal") class="btn btn-success blue left" style="margin-left:5px">Listar Todo</button>
                }

                <div class="row">
                    <div class="col s12">
                    </div>
                    <div class="col s12">
                        <table class="bordered">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>DNI</th>
                                    <th>Nombres</th>
                                    <th>Celular</th>
                                    <th>Correo</th>
                                    <th>Activo</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Listado)
                                {
                                    <tr>
                                        <td style="padding:0">
                                            <a href="@Url.Action("Mantener","Personal",new { id = item.Id })"><i class="material-icons">edit</i></a>
                                        </td>
                                        <td style="padding:0">@item.Dni</td>
                                        <td style="padding:0">@item.Nombres @item.Paterno @item.Materno </td>
                                        <td style="padding:0">@item.Celular</td>
                                        <td style="padding:0">@item.Correo</td>
                                        <td style="padding:0">
                                            @if (item.Estado)
                                            {
                                                <a href="#"><i class="material-icons">check_circle</i></a>
                                            }
                                            else
                                            {
                                                <a href="#"><i class="material-icons red-text">remove_circle</i></a>
                                            }
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m12 l12">
        <div id="bordered-table" class="card card card-default scrollspy">
            <div class="col-md-12 center text-center">
                @if (Model.Listado.Count() > 0)
                {
                    <span>
                        <strong>@Model.TotalRegistros</strong> registros encontrados
                    </span>
                    <span>&nbsp;|&nbsp;</span>
                    <span>
                        Página <strong>@(Model.PaginaActual)</strong> de
                        <strong>@Model.TotalPaginas</strong>
                    </span>
                    <span>&nbsp;|&nbsp;</span>
                }
                else
                {
                    <span>No hay resultados para esta búsqueda</span>
                    <span>&nbsp;|&nbsp;</span>
                }

                @if (Model.PaginaActual > 1)
                {
                    @Html.ActionLink("<<", "Index", new { pagina = 1 },
                                    new { @class = "btn btn-sm btn-default" })
                    <span></span>
                    @Html.ActionLink("Anterior", "Index", new { pagina = Model.PaginaActual - 1 },
                                    new { @class = "btn btn-sm btn-default" })
                }
                else
                {
                    @Html.ActionLink("<<", "Index", new { pagina = 1 },
                                    new { @class = "btn btn-sm btn-default disabled" })
                    <span></span>
                    @Html.ActionLink("Anterior", "Index", new { pagina = 1 },
                                    new { @class = "btn btn-sm btn-default disabled" })
                }
                <span></span>
                @if (Model.PaginaActual < Model.TotalPaginas)
                {
                    @Html.ActionLink("Siguiente", "Index", new { pagina = Model.PaginaActual + 1 },
                                    new { @class = "btn btn-sm btn-default" })
                    <span></span>
                    @Html.ActionLink(">>", "Index", new { pagina = Model.TotalPaginas },
                                    new { @class = "btn btn-sm btn-default" })
                }
                else
                {
                    @Html.ActionLink("Siguiente", "Index", new { pagina = Model.TotalPaginas - 1 },
                                    new { @class = "btn btn-sm btn-default disabled" })
                    <span></span>
                    @Html.ActionLink(">>", "Index", new { pagina = Model.TotalPaginas },
                                    new { @class = "btn btn-sm btn-default disabled" })
                }
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>

    </script>
}