@model DA.Personal


@if (Web.Models.Autorizacion.TienePermiso(BL.RolesMenu.menu_personal_todo))
{

    <style>
        .contenedor_mensaje {
            background-color: #F94040;
            color: white;
            height: 50px;
        }
    </style>

    <div class="row">
        <div class="col s12">
            <div id="validations" class="card card-tabs" style="margin-top:20px;">
                <div class="card-content">
                    <div class="card-title">
                        <div class="row">
                            <div class="col s8 m6 l10">
                                <h4 class="card-title">
                                    <a href="@Url.Action("Index","Personal")"><i class="material-icons left">keyboard_backspace</i></a>
                                    @if (Model.Id == 0)
                                    {
                                        <text>Nuevo Personal</text>
                                    }
                                    else
                                    {
                                        <text>Editar Personal</text>
                                    }
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="row">
                            <div class="col s12 m12">
                                <div class="card-content contenedor_mensaje" id="div_mensaje_personal" style="margin-bottom:30px;" hidden>
                                    <p id="txt_mensaje_personal" style="text-align:center; margin-top:-10px;"></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <input id="id_personal" name="Id" type="hidden" value="@Model.Id">
                            <div class="input-field col s12 m2">
                                <label for="dni">DNI*</label>
                                <input id="dni" name="Dni" type="text" required value="@Model.Dni" autofocus>
                            </div>

                            <div class="input-field col s12 m3">
                                <label for="paterno">Apellido Paterno*</label>
                                <input id="paterno" name="Paterno" type="text" required value="@Model.Paterno">
                            </div>
                            <div class="input-field col s12 m3">
                                <label for="materno">Apellido Materno*</label>
                                <input id="materno" name="Materno" type="text" required value="@Model.Materno">
                            </div>
                            <div class="input-field col s12 m4">
                                <label for="nombres">Nombre*</label>
                                <input id="nombres" name="Nombres" type="text" required value="@Model.Nombres">
                            </div>
                            <div class="input-field col s12 m4">
                                <label for="correo">Correo Electronico*</label>
                                <input id="correo" type="email" name="Correo" value="@Model.Correo">
                            </div>
                            <div class="input-field col s12 m4">
                                <label for="celular">Celular</label>
                                <input id="celular" name="Celular" type="text" value="@Model.Celular" maxlength="20">
                            </div>
                            @if (Model.Nacimiento == null)
                            {
                                <div class="input-field col s12 m3">
                                    <label for="nacimiento">Fecha Nacimiento</label>
                                    <input id="nacimiento" name="Nacimiento" @*class="datepicker"*@ type="date" value="@Model.Nacimiento" placeholder="nacimiento">
                                </div>
                            }
                            else
                            {
                                <div class="input-field col s12 m3">
                                    <label for="nacimiento">Fecha Nacimiento</label>
                                    <input id="nacimiento" name="Nacimiento" @*class="datepicker"*@ type="date" value="@Model.Nacimiento.Value.ToString("yyyy-MM-dd")" placeholder="nacimiento">
                                </div>
                            }
                            <div class="input-field col s12 m6">
                                <label for="direccion">Direccion</label>
                                <input id="direccion" name="Direccion" type="text" value="@Model.Direccion">
                            </div>
                            <div class="input-field col s12 m3">
                                <label for="honorario">Honorario</label>
                                <input id="honorario" name="Honorario" step="0.01" type="number" min="0" value="@Model.Honorario">
                            </div>


                            <div class="col s12 m3">
                                <label for="tnc_select">Estado </label>
                                <p>
                                    <label>
                                        <input id="estado" type="checkbox" name="activo" @if (Model.Estado) { <text> checked </text> } />                                 <span>Activo</span>
                                    </label>
                                </p>
                            </div>

                            <div class="input-field col s12">
                                <button id="guardar" data-ajax="true" class="btn right blue" type="submit">
                                    Guardar
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}


@section   scripts{
    <script>

    </script>
}

<script src="https://code.jquery.com/jquery-3.4.1.js" type="text/javascript"></script>
<script>

    $(document).ready(function () {
        $("#guardar").click(guardarPersonalFunc)
    })

    var valTimeout;
    var isPersonalRegisterLoading = false;

    var guardarPersonalFunc = function () {

        if (!isPersonalRegisterLoading) {
            isPersonalRegisterLoading = true
            var estado;
            if ($("#estado").prop("checked")) {
                estado = true;
            }
            else {
                estado = false;
            }

            var envio = {
                idPersonal: $("#id_personal").val(),
                Dni: $("#dni").val(),
                Paterno: $("#paterno").val(),
                Materno: $("#materno").val(),
                Nombres: $("#nombres").val(),
                Correo: $("#correo").val(),
                Celular: $("#celular").val(),
                Nacimiento: $("#nacimiento").val(),
                Direccion: $("#direccion").val(),
                Honorario: $("#honorario").val(),
                Estado: estado
            }
            console.log(envio)


            $("#guardar").prop("disabled", true);

            $.ajax({
                url: '@Url.Action("Guardar","Personal")',
                data: JSON.stringify(envio),
                type: 'POST',
                async: false,//this makes the ajax-call blocking
                contentType: 'application/json;charset=UTF-8',
                dataType: 'json',
                success: function (rm) {

                    if (rm.response == false) {
                        $("#div_mensaje_personal").show();
                        $("#div_mensaje_personal").css("background-color", "#F94040");
                        $("#txt_mensaje_personal").text(rm.message);

                        if (valTimeout) {
                            clearTimeout(valTimeout);
                        }

                        valTimeout = setTimeout(() => {
                            $("#div_mensaje_personal").fadeOut();
                        }, 2500);
                    }
                    else {
                        window.location.href = rm.href;
                    }
                },
                error: (error) => console.log(error),
                complete: function () {
                    $("#guardar").prop("disabled", false);
                    isPersonalRegisterLoading = false;
                }


            });
        }
        else {
            console.log("The operation was already completed");
        }

    }

</script>