@model List<DA.Especialidad>

<div class="row">
    <div class="col s12 m12 l12">
        <div id="bordered-table" class="card card card-default scrollspy">
            <div class="card-content">
                <div class="card-title">
                    <div class="row">
                        <div class="col s8 m6 l10">
                            <h4 class="card-title">GESTIONAR ESPECIALIDADES</h4>
                        </div>
                        <div class="col s4 m6 l2">
                            <a class="btn-small blue right" href="@Url.Action("Mantener","Especialidad", new { id=0})"><i class="material-icons left">add</i>Nuevo</a>
                        </div>
                    </div>
                </div>

                <div>
                    <input type="text" name="denominacion" id="denominacion" />
                    <button value="Buscar" id="buscar" class="btn btn-success blue left">Buscar</button>
                </div>

                @*
                    @using (Html.BeginForm(null, null, FormMethod.Get))
                    {
                        <button @Url.Action("ListarTodo", "Especialidad") class="btn btn-success blue left" style="margin-left:5px">Listar Todo</button>
                    }
                *@

                <div class="row">
                    <div class="col s12">
                    </div>
                    <div class="col s12">
                        <table class="bordered">
                            <thead>
                                <tr>
                                    <th>Denominacion</th>
                                    <th>Matricula</th>
                                    <th>Mensualidad</th>
                                    <th>Cuotas</th>
                                    <th>Acciones</th>

                                </tr>
                            </thead>
                            <tbody id="tbd_paginador">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td style="padding:0">@item.Denominacion</td>
                                        <td style="padding:0">@item.Matricula  </td>
                                        <td style="padding:0">@item.Mensualidad</td>
                                        <td style="padding:0">@item.Cuotas</td>
                                        <td style="padding:0">
                                            <a href="@Url.Action("Mantener","Especialidad",new { id = item.Id })"><i class="material-icons">edit</i></a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
        <div class="col s12 m12 l12">
            <div id="bordered-table" class="card card card-default scrollspy">
                <div class="col-md-12 center text-center">

                    <div id="Encontrado">
                        <span>
                            <label id="TotalRegistros"></label> registros encontrados
                        </span>
                        <span>&nbsp;|&nbsp;</span>
                        <span>
                            Página <label id="PaginaActual"></label> de
                            <label id="TotalPaginas"></label>
                        </span>
                    </div>
                    <div class="row" id="NoEncontrado">
                        <span>&nbsp;|&nbsp;</span>
                        <span>No hay resultados de la búsqueda</span>
                        <span>&nbsp;|&nbsp;</span>
                    </div>

                    <div>
                        <button class="btn btn-small blue" id="inicio"><<</button>
                        <span></span>
                        <button class="btn btn-small blue" id="anterior">Anterior</button>
                    </div>

                    <div>
                        <button class="btn btn-small blue" id="siguiente">Siguiente</button>
                        <span></span>
                        <button class="btn btn-small blue" id="ultimo">>></button>
                    </div>
                    @*
                    @if (Model.PaginaActual > 1)
                    {
                        @Html.ActionLink("<<", "Index", new { pagina = 1 },
                                        new { @class = "btn btn-sm btn-default" })
                        <span></span>
                        @Html.ActionLink("Anterior", "Index", new { pagina = Model.PaginaActual - 1 },
                                        new { @class = "btn btn-sm btn-default" })
                    }
                    else
                    {
                        @Html.ActionLink("<<", "Index", new { pagina = 1 },
                                        new { @class = "btn btn-sm btn-default disabled" })
                        <span></span>
                        @Html.ActionLink("Anterior", "Index", new { pagina = 1 },
                                        new { @class = "btn btn-sm btn-default disabled" })
                    }

                    @*
                    <span></span>
                    @if (Model.PaginaActual < Model.TotalPaginas)
                    {
                        @Html.ActionLink("Siguiente", "Index", new { pagina = Model.PaginaActual + 1 },
                                        new { @class = "btn btn-sm btn-default" })
                        <span></span>
                        @Html.ActionLink(">>", "Index", new { pagina = Model.TotalPaginas },
                                        new { @class = "btn btn-sm btn-default" })
                    }
                    else
                    {
                        @Html.ActionLink("Siguiente", "Index", new { pagina = Model.TotalPaginas - 1 },
                                        new { @class = "btn btn-sm btn-default disabled" })
                        <span></span>
                        @Html.ActionLink(">>", "Index", new { pagina = Model.TotalPaginas },
                                        new { @class = "btn btn-sm btn-default disabled" })
                    }

                    *@
                </div>
            </div>
        </div>
</div>



@section Scripts{

    <script src="~/Scripts/jquery-ui/jquery-ui.js"></script>

    <script>
        var innerPagina = 1;

        $(document).ready(function () {
            deshabilitarBotones(innerPagina)
        })

        $("#primero").click(function () {
            paginadorFun($("#denominacion").val(), 0);
        });
        $("#siguiente").click(function () {
            paginadorFun($("#denominacion").val(), innerPagina);
        });

        function paginadorFun(denominacion, pagina) {
            var envio = {
                denominacion: denominacion,
                pagina: pagina
            }
            console.log(envio);

            $.ajax({
                url: '@Url.Action("Tabla","Especialidad")',
                data: JSON.stringify(envio),
                type: 'POST',
                dataType: 'json',
                success: function (rm) {
                    console.log(rm.result);
                    var Listado = rm.result.Listado;
                    var PaginaActual = rm.result.PaginaActual;
                    var RegistrosPorPagina = rm.result.RegistrosPorPagina;
                    var TotalPaginas = rm.result.TotalPaginas;
                    var TotalRegistros = rm.result.TotalRegistros;

                    if (Listado.length > 0) {
                        $("#NoEncontrado").hide();
                        $("#TotalRegistros").html(TotalRegistros);
                        $("#PaginaActual").html(PaginaActual);
                        $("#TotalPaginas").html(TotalPaginas);
                        $("#tbd_paginador").empty();
                        fillPaginator("#tbd_paginador", Listado)

                    }
                    else {
                        $("#Encontrado").hide();
                    }

                    if (innerPagina < TotalPaginas) {
                        innerPagina = PaginaActual + 1;
                    }

                    

                    deshabilitarBotones(PaginaActual)
                    deshabilitarBotones(PaginaActual, TotalPaginas)
                    
                    if (pagina == TotalPaginas) {
                        $("#ultimo").disableSelection()
                    }
                }
            });
        }

        function deshabilitarBotones(pagina, total) {
            if (total == undefined) {
                if (pagina == 1) {
                    $("#inicio").prop("disabled", true);
                    $("#anterior").prop("disabled",true);
                }
            } else {
                if (pagina == total) {
                    $("#siguiente").prop("disabled",true);
                    $("#ultimo").prop("disabled",true);
                }
            }
        }

        function fillPaginator(id, list) {
            list.forEach(function (item, index) {
                $(id).append(
                    `<tr>
                         <td style="padding:0"">${item.Denominacion}</td>
                         <td style="padding:0">${item.Matricula}</td>
                         <td style="padding:0">${item.Mensualidad}</td>
                         <td style="padding:0">${item.Cuotas}</td>
                         <td style="padding:0">
                            <a href="Especialidad/Mantener/${item.Id}"><i class="material-icons">edit</i></a>
                         </td>
                         </tr>`
                    )
            });

        }

    </script>
}


