<main>
    <div class="grid-container">
        <a href="@Url.Action("Index","Periodo")">
            <div class="grid-item card">
                <img src="~/Images/dashboard/periodo_academico.png" />
                <br>
                Periodo Académico
            </div>
        </a>
        <a href="@Url.Action("Index","Personal")">
            <div class="grid-item card">
                <img src="~/Images/dashboard/personal.png" />
                <br>
                Personal
            </div>
        </a>
        <a href="@Url.Action("Index","Alumno")">
            <div class="grid-item card">
                <img src="~/Images/dashboard/alumno.png" />
                <br>
                Alumno
            </div>
        </a>
        <a href="@Url.Action("Index","Usuario")">
            <div class="grid-item card">
                <img src="~/Images/dashboard/usuario.png" />
                <br>
                Usuario
            </div>
        </a>
        <a href="@Url.Action("Index","Especialidad")">
            <div class="grid-item card">
                <img src="~/Images/dashboard/especialidad.png" />
                <br>
                Especialidad
            </div>
        </a>
        <a href="@Url.Action("Index","Curso")">
            <div class="grid-item card">
                <img src="~/Images/dashboard/curso.png" />
                <br>
                Curso
            </div>
        </a>
        <a href="@Url.Action("Index","Matricula")">
            <div class="grid-item card">
                <img src="~/Images/dashboard/matricula.png" />
                <br>
                Matriculas
            </div>
        </a>
        <a href="@Url.Action("Index","CuentasPorCobrar")">
            <div class="grid-item card">
                <img src="~/Images/dashboard/cuentas_por_cobrar.png" />
                <br>
                Cuentas Por Cobrar
            </div>
        </a>
        <a href="@Url.Action("Index","Pagos")">
            <div class="grid-item card">
                <img src="~/Images/dashboard/pagos.png" />
                <br>
                Pagos
            </div>
        </a>
        <a href="@Url.Action("Index","CajaDiario")">
            <div class="grid-item card">
                <img src="~/Images/dashboard/caja_diario.png" />
                <br>
                Caja Diario
            </div>
        </a>
        <a href="@Url.Action("Index","Boveda")">
            <div class="grid-item card">
                <img src="~/Images/dashboard/boveda.png" />
                <br>
                Boveda

            </div>
        </a>
    </div>
</main>
<style>
    .grid-container{
        display:grid;
        grid-template-columns:auto auto auto auto;
        grid-gap:30px;
        margin-right: 25px;
        margin-left: 25px;
        padding-top: 25px;
    }
    .grid-item{
        padding: 10px;
        text-align: center;
        font-weight: 700;
        margin: 0 !important;
    }
    .grid-item >img{
        width:100px;
        height:100px;
    }
</style>