@model BL.CajaMovimientoVm

<div class="row">
    <div class="col s6">
        <div id="validations" class="card card-tabs">
            <div class="col s12">
                <table>
                    <tr style="font-size:20px;">
                        <td>
                            <div class="form-group col-md-12">
                                Concepto de Pago
                                <div class="col-md-9 dropdown">
                                    @Html.DropDownList("ListaConcepto", (IEnumerable<SelectListItem>)ViewBag.ListaConcepto as SelectList, "Seleccione Concepto de Pago", htmlAttributes: new { @class = "form-control" })
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-warning btn-lg" id="btnconceptos">Seleccionar</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm("Registrar", "Pagos", FormMethod.Post, new { }))
{
<div class="row">
    <div class="col s6">
        <div id="validations" class="card card-tabs">
            <div class="card-content">
                <form class="validar" id="formValidate">
                    <div class="row">
                        <div class="input-field col s12">
                            Fecha
                            <input style="color:red;font-size:20px;" class="form-control" type="text" id="id_fecha" readonly value="@DateTime.Now.Year-@DateTime.Now.Month-@DateTime.Now.Day @DateTime.Now.Hour:@DateTime.Now.Minute:@DateTime.Now.Second" />
                        </div>

                        <div class="input-field col s12">
                            Alumno
                            <div class="col-md-12 dropdown">
                                @Html.DropDownListFor(x => x.AlumnoId, (IEnumerable<SelectListItem>)ViewBag.AlumnoId)
                            </div>
                        </div>

                        <div class="input-field col s12">
                            Operacion
                            <div class="col-md-12 dropdown">
                                @Html.DropDownListFor(x => x.OperacionId, (IEnumerable<SelectListItem>)ViewBag.OperacionId)
                            </div>
                        </div>

                        <div class="input-field col s12">
                            Estado
                            <div class="col-md-12 dropdown">
                                @Html.DropDownListFor(x => x.EstadoId, (IEnumerable<SelectListItem>)ViewBag.EstadoId)
                            </div>
                        </div>
                        <div class="input-field col s12">
                            Entrada a Caja
                            <p>
                                <label>
                                    <input type="checkbox" name="activo" @if (Model.IndEntrada) { <text> checked </text> } /><span>Entrada/Salida</span>
                                </label>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col s6">
        <div id="highlight-table" class="card card tab">
            <div class="card-content">
                <div class="row">
                    <div class="col s12">
                        <div class="form-group">
                            <div class="col s12">
                                <div class="input-group">
                                    <span>Concepto</span>
                                    @Html.HiddenFor(x => x.DetalleConceptoId, new { @class = "form-control" })
                                    @Html.TextBoxFor(x => x.DetalleConceptoDenominacion, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col s12">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">S/. Precio</span>
                                    @Html.TextBoxFor(x => x.DetalleConceptoCosto, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col s12">
                                <div class="input-group">
                                    <span>Cantidad</span>
                                    @Html.TextBoxFor(x => x.DetalleCantidad, new { @class = "form-control", type = "number" })
                                </div>
                            </div>
                            <div class="col s12">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">S/. Descuento</span>
                                    @Html.TextBoxFor(x => x.DetalleDescuento, new { @class = "form-control", placeholder = "Descuento" })
                                </div>
                            </div>
                            <div class="col s6">
                                <button class="btn btn-primary" type="submit" value="agregar_concepto" name="action">
                                    <i class="glyphicon glyphicon-plus">Agregar</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12">
        <div id="highlight-table" class="card card card-default scrollspy">
            <div class="card-content">
                <h4 class="card-title">DETALLE DE PAGO</h4>
                <div class="row">
                    <div class="col s12">
                    </div>
                    <div class="col s12">
                        <table id="detalle" class="lista table" border="1">
                            <thead>
                                @if (Model.Detalles.Count > 0)
                                {
                                    <tr class="list-group-item">
                                        <th>Concepto</th>
                                        <th>Precio</th>
                                        <th>Cantidad</th>
                                        <th>Descuento</th>
                                        <th>SubTotal</th>
                                        <th></th>
                                    </tr>
                                }
                            </thead>
                            <tbody>
                                @foreach (var d in Model.Detalles)
                                {
                                    var i = Model.Detalles.IndexOf(d);
                                    <tr class="list-group-item">
                                        @Html.Hidden("Detalles[" + i + "].ConceptoPagoId", d.ConceptoPagoId)
                                        @Html.Hidden("Detalles[" + i + "].ConceptoPagoDenominacion", d.ConceptoPagoDenominacion)
                                        @Html.Hidden("Detalles[" + i + "].ConceptoPagoCosto", d.ConceptoPagoCosto)
                                        @Html.Hidden("Detalles[" + i + "].Cantidad", d.Cantidad)
                                        @Html.Hidden("Detalles[" + i + "].Descuento", d.Descuento)
                                        @Html.Hidden("Detalles[" + i + "].Importe", d.Importe())
                                        @Html.Hidden("Detalles[" + i + "].Retirar", d.Retirar, new { @class = "retirar" })
                                        <td>
                                            @d.ConceptoPagoDenominacion
                                        </td>
                                        <td>
                                            @d.ConceptoPagoCosto
                                        </td>
                                        <td>
                                            @d.Cantidad
                                        </td>
                                        <td>
                                            @d.Descuento
                                        </td>
                                        <td>
                                            @d.Importe()
                                        </td>
                                        <td>
                                            <div class="col s6">
                                                <button class="btn btn-danger btn-xs btn-block btn-retirar" type="submit" value="retirar_concepto" name="action">
                                                    <i class="material-icons left">remove</i>
                                                </button>
                                            </div>

                                        </td>
                                    </tr>
                                }

                            </tbody>

                        </table>

                        @if (Model.Detalles.Count > 0)
                        {

                            <ul>
                                TOTAL
                                <li class="list-group-item text-right" style="font-size:18px;">
                                    @string.Format("{0:c}", Model.TotalCaja())
                                </li>
                            </ul>
                        }

                        @if (Model.Detalles.Count > 0)
                        {
                            <button class="btn btn-primary btn-block btn-lg" type="submit" value="generar" name="action">Registrar Pago</button>
                        }
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
}



@section Scripts{
    <script>
        $(document).ready(function () {
            $(".btn-retirar").click(function () {
                if (confirm('¿Está seguro de retirar el item seleccionado?')) {
                    $(this).closest('.list-group-item').find('.retirar').val("True");
                    return true;
                }
                return false;
            });
            $("#btnconceptos").click(function () {
                $.ajax({
                    type: "POST",
                    url: '/Pagos/SeleccionarConcepto',
                    data: { Id: $("#ListaConcepto").val() },
                    success: function (mensaje) {
                        $(mensaje).each(function (index, item) {
                            //recibir datos json
                            $("#DetalleConceptoId").val(item.Id),
                            $("#DetalleConceptoDenominacion").val(item.Denominacion),
                            $("#DetalleConceptoCosto").val(item.Costo)
                        });
                    }
                });
            });
        });

    </script>
}