@model IEnumerable<DA.Alumno>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReportesAlumno</title>
    <link rel="stylesheet" href="~/Bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="~/Bootstrap/Site.css" />

    <style>
        /* SOLUCIONA PROBLEMA DE SOLAPAMIENTO EN TABLAS <table /> */
        thead {
            display: table-header-group;
            background-color: #E0EAF4;
             
        }
        tfoot {
            display: table-row-group;
        }

        tr {
            page-break-inside: avoid;
        }
    </style>
</head>
<body style="padding: 0px; margin: 0px;">
    <div class="container">
        <br /><br />
        <p>
            TIPO REPORTE: Listado de Alumnos &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            GENERADO: @DateTime.Now.Day de @DateTime.Now.ToString("MMMM") del @DateTime.Now.Year
        </p>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        N° &nbsp;
                    </th>
                    <th>
                        Alumno
                    </th>
                    <th>
                        Dni
                    </th>
                    <th>
                        Nacimiento
                    </th>
                    <th>
                        Direccion
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    var _count = 0;
                }
                @foreach (var item in Model)
                {
                    _count++;
                    <tr>
                        <td>
                            @_count
                        </td>
                        <td>
                            @item.Paterno @item.Materno @item.Nombres
                        </td>
                        <td>
                            @item.Dni
                        </td>
                        <td>
                            @item.Nacimiento
                        </td>
                        <td>
                            @item.Direccion
                        </td>
                    </tr>
                }

            </tbody>

        </table>

    </div>
</body>
</html>
